@font-face {
  font-family: "GL";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GM";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GB";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf")
      format("truetype");
  font-display: swap;
}

:root {
  --colorGreen: #cedfc3;
  --colorDGreen: #647367;
  --colorBg: #f8f8e7;
  --colorGBg: #d6e3ca;
  --colorBtn: #ce5561;
  --bodyc: #474747;
}

.popipdiv::before{
  content:"";
  position:fixed;
  background-color: rgba(0, 0, 0, .5);
  left: 0; right: 0; top: 0; bottom: 0;
}  

/* pop up div #popup가 나타나면 디스플레이가 안보엿다가 다시 나타나게 된다 css 짜는거 되게 중요함!!!
    pop up div #popup가 사라지면 디스플레이는 none이므로 사라진다.
*/
.popupdiv #popup {
  display: block;
}

#popup {
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  margin:auto;
  width: 10rem;
  height: 7rem;
  line-height: 2rem;
  font-size: 1.8rem;
  text-align: center;
  display: none;
}  

#popup button{
  position: absolute;
  right: 0;
  bottom: 100%;
}  



