@font-face {
  font-family: "GL";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GM";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GB";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf")
      format("truetype");
  font-display: swap;
}

:root {
  --colorGreen: #cedfc3;
  --colorDGreen: #647367;
  --colorBg: #f8f8e7;
  --colorGBg: #d6e3ca;
  --colorBtn: #ce5561;
  --bodyc: #474747;
}

body{
  height:100vh;
}
#box{
  background-color: black;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  color:white;
}

@media (min-width: 1024px){
#box{
  width: 50%;
}
p{
  transform:rotate(90deg);
  font-size:1rem;
}
br{
  display: none;  
}
}

@media(max-width:1024px) {
  #box {
    width:auto;
    text-align: center;
  }
  #box p{
/*     transform: rotate(0); */
    font-size: 3vw;
  }
 /*  #box p br {
    display:block;
  } */
}

@media(max-width:624px){
  #box p {
    font-size: 20px;
  }
}

.box,
.center {
/* 
  width: 5rem;
  height: 5rem;
  background-color: #000;
  transition:0.5s; */
}

.box1{
  top:0;
  left:0;
}
.box2{
  top:0;
  right: 0;
}

.box3{
  bottom: 0;
  left: 0;;
}

.box4 {
  bottom: 0;
  right: 0;
}
.box1:hover,
.box4:hover{
  width:100%;
}
.box2:hover,
.box3:hover{
  height: 100%;
}

.center{
  top: 3rem;
  left: 3rem;
  right: 3rem;
  bottom: 3rem;
  margin: auto;
  max-width:600px;
  height:600px;
  width: calc(100vw -5rem) !important;
  position:fixed;
  background-color: black;
}

/* 
.center:hover{
  width:100%;
  height:100%;
}

 */